<app-navs></app-navs>
<app-limo-booking></app-limo-booking>
<!-- services -->
<section class="py-5 bg-light">
  <div class="container text-center">
    <!-- Title -->
    <h2 class="mb-4" >Nahome Limo Services</h2>
    <p class="mb-4 h3">
      Do You Require A Limo Service?

      Experience luxury and comfort with our <br/>professional limo services, 
      ensuring a seamless, elegant journey for special occasions,<br/> 
      business trips, or airport transfers.
    </p>
    <div class="container">
      <div class="row g-0">
        <div class="col-md-6">
          <img src="/assets/cadillac-xts-removebg-preview.png" alt="Image 1" class="img-fluid" />
        </div>
        <div class="col-md-6">
          <img src="/assets/23Chevy-Suburban-HighCountry-Black-Jellybean.png" alt="Image 2" class="img-fluid" />
        </div>
      </div>
    </div>
    
    <!-- Contact Information -->
    <div class="row justify-content-center">
      <!-- Phone -->
      <div class="col-md-4 mb-3">
        <div class="d-flex align-items-center justify-content-center">
          <i class="fas fa-phone-alt fa-2x mr-3 text-primary"></i>
          <div>
            <p class="mb-1">Call Us</p>
            <p class="h5 font-weight-bold">+1 (123) 456-7890</p>
          </div>
        </div>
      </div>

      <!-- Email -->
      <div class="col-md-4 mb-3">
        <div class="d-flex align-items-center justify-content-center">
          <i class="fas fa-envelope fa-2x mr-3 text-primary"></i>
          <div>
            <p class="mb-1">Email Us</p>
            <p class="h5 font-weight-bold">
              <a
                href="mailto:info&#64;limoservice.com"
                class="h5 font-weight-bold"
                >info&#64;limoservice.com</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Call to Action Button -->
    <a href="#contact" class="btn btn-primary mt-4">Book Your Ride Today</a>
  </div>
</section>

<!-- Our Services -->
<div class="container-fluid service-screen">
  <div class="row align-items-center">
    <!-- Left Column (Image) -->
    <div class="col-md-6 mb-4 mb-md-0">
      <img src="./assets/lim-1.png" alt="sedan_Image" class="img-fluid w-100">
    </div>

    <!-- Right Column (Text) -->
    <div class="col-md-6 text-center text-md-left">
      <h2 class="mb-3">Our Services</h2>
      <p class="lead">
        Covering Denver and Metro for over 3 years Customer Satisfaction is
        guarantee
      </p>
      <p class="lead">Take a look at everything we cover: <br/>
        DEN to Denver Downtown Sudan $100 SUV $ 125 <br/>
        DEN to Denver Sudan $100 SUV $125 <br/>
        DEN to Littleton Sudan $125 SUV $150 <br/>
        DEN to Lakewood Sudan $125 SUV $150 <br/>
        DEN to Boulder Sudan $135 plus Toll SUV $165 plus Toll $15 <br/> 
        DEN to Castlerock Sudan $155 plus Toll $15 SUV $195 Plus Toll $15 <br/>
        DEN to Arvada Sudan $125 SUV $150 <br/>
        DEN to BROOMFIELD Sudan $135 plus Tall $15 SUV $155 plus toll $15 <br/>
        DEN to Colorado Springs Sudan $225 plus toll $15 SUV $275 plus toll $15 <br/>
      </p>
        <h5 class="mt-4">* Note: Toll or express freeway are extra changes will apply.</h5>
    </div>
  </div>
</div>

<!-- pics of gallery -->
<div class="container-fluid album">
    <div class="responsive-container-block bg">
        <div class="responsive-container-block img-cont">
            <img class="img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/PP5.4.svg" alt="Image 1">
            <img class="img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/PP5.5.svg" alt="Image 2">
            <!-- <img class="img img-last" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/PP5.6.svg" alt="Image 3"> -->
        </div>
        <div class="responsive-container-block img-cont">
            <img class="img img-big" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/PP5.11.svg" alt="Image 4">
            <!-- <img class="img img-big img-last" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/PP5.10.svg" alt="Image 5"> -->
        </div>
        <div class="responsive-container-block img-cont">
            <img class="img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/PP5.7.svg" alt="Image 6">
            <img class="img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/PP5.8.svg" alt="Image 7">
            <!-- <img class="img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/PP5.9.svg" alt="Image 8"> -->
        </div>
    </div>
</div>

<app-footer></app-footer>