<footer class="footer bg-dark text-white">
    <div class="container">
        <div class="row">
            <!-- Left Column: Social Media and Title -->
            <div class="col-md-6">
                <h3>We look Forward To
                    Serving You!</h3>
                <div class="social-media">
                    <a href="#" class="text-white" title="Facebook">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="text-white" title="Twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="text-white" title="Instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>

            <!-- Right Column: Google Map Overlay -->
            <div class="col-md-6">
                <div class="map-overlay">
                    <iframe 
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.835434509867!2d144.95373631531634!3d-37.81627997975109!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0b4b5d01%3A0xf3c62b458c5d001f!2sYour%20Business%20Name!5e0!3m2!1sen!2sus!4v1634071992273!5m2!1sen!2sus" 
                        width="100%" 
                        height="200" 
                        style="border:0;" 
                        allowfullscreen="" 
                        loading="lazy"></iframe>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <h5>Contact Us</h5>
                <p>Address: 123 Main St, City, Country</p>
                <p>Phone: (123) 456-7890</p>
            </div>
            <div class="col-md-6">
                <h5>Hours</h5>
                <p>Mon-Fri: 9 AM - 5 PM</p>
                <p>Sat-Sun: Closed</p>
            </div>
        </div>
    </div>
</footer>
