<div class="hero text-center text-white d-flex align-items-center justify-content-center" style="background-color: #343a40; height: 300px;">
  <div>
      <h1 class="display-4 font-weight-bold">We Love to Hear from you. <br/>
        <span class="highlight"></span></h1>
      <p class="lead" style="color: #E8AF44;">Nahome Limo Service</p>
  </div>
</div>

<div [formGroup]="form" class="container">
  <h2 class="text-center">Drop us a Line!</h2>
  <form action="javascript:void(0)" (submit)="send()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input formControlName="from_name" id="name"  class="form-control" placeholder="Enter full name" required>
    </div>
    <div class="form-group mt-2">
      <label for="email">Email:</label>
      <input formControlName="from_email" type="email" id="email"  class="form-control" placeholder="your@email.com" required>
    </div>
    <div class="form-group mt-2">
      <label for="message">Message:</label>
      <textarea formControlName="from_message" id="message" rows="3" class="form-control" placeholder="Enter your questions" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary w-100 mt-3">Send</button>
  </form>
</div>
<app-footer></app-footer>