.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: #E8AF44;
    padding: 20px;
}

.btn.btn-primary {
    background-color: #DA9100;
    border: none
}

.btn.btn-primary:hover {
    background-color: #E8AF44;
    border: none
}